body {
    background-color: rgb(74, 115, 237);
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
li {
    list-style: decimal-leading-zero;
    margin: 10px;
    color: rgb(234, 121, 239);
}
.face {
    color: red;
}
.back {
    color: orange;
    opacity: 0.4;
}
button {
    padding: 5px 20px;
    background-color: #337ab7;
    color: #fdffff;
    border-color: #2e6da4;
    border-style:outset;
}
input {
    height: 20px;
}
